<body>
  <div id="game">
    <div
      id="shmupZone"
      style="margin-top: 15px; margin-left: 20px"
      [style.width.px]="[shmupWidthPx]"
      [style.height.px]="[shmupHeightPx]"
    >
      <div
        id="shmupZoneBackgroundLayer1"
        style="margin-top: -400px;"
        [style.width.px]="[shmupWidthPx]"
        [style.height.px]="[shmupHeightPx*2]"
      ></div>
      <!-- <div
        id="shmupZoneBackgroundLayer2"
        style="margin-top: -400px; margin-left: -50px;"
        [style.width.px]="[shmupWidthPx*2]"
        [style.height.px]="[shmupHeightPx*2]"
      ></div> -->
      <div
        id="redguy"
        [style.left.px]="[redGuyPos.xPos]"
        [style.top.px]="[redGuyPos.yPos]"
      ></div>
      <div
        id="redguyHitbox"
        [style.left.px]="[redGuyHitBox.xPos]"
        [style.top.px]="[redGuyHitBox.yPos]"
      ></div>
      <div *ngFor="let bullet of this.redGuyBullets">
        <div
          class="bullet"
          [style.left.px]="[bullet.hitbox.xPos]"
          [style.top.px]="[bullet.hitbox.yPos]"
        ></div>
      </div>
      <div *ngFor="let enemy of this.enemies">
        <div
          class="enemy"
          [style.left.px]="[enemy.hitbox.xPos]"
          [style.top.px]="[enemy.hitbox.yPos]"
          [style.width.px]="[enemy.hitbox.width]"
          [style.height.px]="[enemy.hitbox.height]"
        ></div>
      </div>
    </div>
    <div id="statsZone" style="margin-top: 15px; margin-left: 575px">
      <h1 style="color: aliceblue">TYPESHIP</h1>
      <h2>xPOS: {{ redGuyHitBox.xPos }}</h2>
      <h2>yPOS: {{ redGuyHitBox.yPos }}</h2>
      <h2>Time: {{ (stageTimeDisplay / 100).toFixed(2) }}</h2>
    </div>
  </div>
</body>
