h2{
    color: white;
}

h2{
    color: white;
}

.smallDeathShape {
    aspect-ratio: 1;
    clip-path: polygon(100.00% 50.00%,92.06% 77.03%,70.77% 95.48%,42.88% 99.49%,17.26% 87.79%,2.03% 64.09%,2.03% 35.91%,17.26% 12.21%,42.88% 0.51%,70.77% 4.52%,92.06% 22.97%,100.00% 50.00%,calc(92.06% - 15.14px) calc(22.97% - -9.73px),calc(70.77% - 7.48px) calc(4.52% - -16.37px),calc(42.88% - -2.56px) calc(0.51% - -17.82px),calc(17.26% - -11.79px) calc(12.21% - -13.60px),calc(2.03% - -17.27px) calc(35.91% - -5.07px),calc(2.03% - -17.27px) calc(64.09% - 5.07px),calc(17.26% - -11.79px) calc(87.79% - 13.60px),calc(42.88% - -2.56px) calc(99.49% - 17.82px),calc(70.77% - 7.48px) calc(95.48% - 16.37px),calc(92.06% - 15.14px) calc(77.03% - 9.73px),calc(100.00% - 18.00px) calc(50.00% - 0.00px),calc(92.06% - 15.14px) calc(22.97% - -9.73px));
    animation-name: dieSmall;
    animation-duration: .5s;
    animation-timing-function: linear;
    background-color: whitesmoke;
    position: absolute;
    transform: translate(-50%, -20%);
}

.bigDeathShape {
    aspect-ratio: 1;
    clip-path: polygon(100.00% 50.00%,92.06% 77.03%,70.77% 95.48%,42.88% 99.49%,17.26% 87.79%,2.03% 64.09%,2.03% 35.91%,17.26% 12.21%,42.88% 0.51%,70.77% 4.52%,92.06% 22.97%,100.00% 50.00%,calc(92.06% - 15.14px) calc(22.97% - -9.73px),calc(70.77% - 7.48px) calc(4.52% - -16.37px),calc(42.88% - -2.56px) calc(0.51% - -17.82px),calc(17.26% - -11.79px) calc(12.21% - -13.60px),calc(2.03% - -17.27px) calc(35.91% - -5.07px),calc(2.03% - -17.27px) calc(64.09% - 5.07px),calc(17.26% - -11.79px) calc(87.79% - 13.60px),calc(42.88% - -2.56px) calc(99.49% - 17.82px),calc(70.77% - 7.48px) calc(95.48% - 16.37px),calc(92.06% - 15.14px) calc(77.03% - 9.73px),calc(100.00% - 18.00px) calc(50.00% - 0.00px),calc(92.06% - 15.14px) calc(22.97% - -9.73px));
    animation-name: dieBig;
    animation-duration: .5s;
    animation-timing-function: linear;
    background-color: whitesmoke;
    position: absolute;
    transform: translate(-50%, -20%);
}

@keyframes dieSmall {
    0%   {width: 10px; height: 10px; opacity: 1;}
    100% {width: 80px; height: 80px; opacity: 0;}
}

@keyframes dieBig {
    0%   {width: 80px; height: 80px; opacity: 1;}
    100% {width: 160px; height: 160px; opacity: 0;}
}


#shmupZone{
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
}

#shmupZoneCustomBg{
    position: absolute;
    overflow: hidden;
    // z-index: -2;
}


#shmupZoneBackgroundLayer1{
    background-image: url(../../../assets/bg1.png);
    position: absolute;
    overflow: hidden;
    animation-name: shortScroll;
    animation-duration: 100s;
    animation-timing-function: linear;
    // z-index: -2;
}

#shmupZoneBackgroundLayer2{
    background-image: url(../../../assets/bgtop.png);
    position: absolute;
    overflow: hidden;
    animation-name: farScroll;
    animation-duration: 100s;
    animation-timing-function: linear;
    // z-index: -1;
}

@keyframes farScroll {
    0%   {top:0px;}
    100% {top:3000px;}
}

@keyframes shortScroll {
    0%   {top:0px;}
    100% {top:1000px;}
}

#statsZone{
    width: 200px;
    height: 350px;
    margin: auto;
    position: absolute;
    text-align: left;
}

#redguy{
    width: 30px;
    height: 50px;
    background-color: rgb(236, 129, 129);
    position: absolute;
}

#redguyHitbox{
    width: 8px;
    height: 8px;
    border: 1px solid white;
    background-color: red;
    position: absolute;
}

.bullet{
    background-color: blue;
    opacity: .3;
    position: absolute;
}

.enemybullet{
    background-color: orange;
    position: absolute;
}

.enemy{
    background-color: green;
    position: absolute;
}

.item{
    background-color: purple;
    position: absolute;
}

.slider {
    width: 200px; /* Full-width */
    height: 25px; /* Specified height */
  }
