<div
  id="shmupZone"
  style="margin-top: 15px; margin-left: 20px"
  [style.width.px]="[shmupWidthPx]"
  [style.height.px]="[shmupHeightPx]"
>
  <img src="/assets/ratufo.gif"/> <!--Pre-loads this asset-->
  <div
    id="shmupZoneBackgroundLayer1"
    style="margin-top: -400px"
    [style.width.px]="[shmupWidthPx]"
    [style.height.px]="[shmupHeightPx * 3]"
    [style.animation-play-state]="animationState"
  ></div>
  <!-- <div
        id="shmupZoneBackgroundLayer2"
        style="margin-top: -400px; margin-left: -50px;"
        [style.width.px]="[shmupWidthPx*2]"
        [style.height.px]="[shmupHeightPx*2]"
        [style.animation-play-state]="[animationState]"
      ></div> -->
  <h1 *ngIf="this.gamePaused" style="position:absolute; margin-top: 400px; margin-left: 200px;">PAUSED</h1>
  <h1 *ngIf="this.urDead" style="position:absolute; margin-top: 400px; margin-left: 200px;">U die</h1>
  <div
    id="redguy"
    [style.left.px]="[redGuyPos.xPos]"
    [style.top.px]="[redGuyPos.yPos]"
    [hidden]="hideRedGuy"
  ></div>
  <div
    id="redguyHitbox"
    [style.left.px]="[redGuyHitBox.xPos]"
    [style.top.px]="[redGuyHitBox.yPos]"
    [hidden]="hideRedGuy"
  ></div>
  <div *ngFor="let bullet of this.redGuyBullets">
    <div
      class="bullet"
      [style.left.px]="[bullet.hitbox.xPos]"
      [style.top.px]="[bullet.hitbox.yPos]"
    ></div>
  </div>
  <div *ngFor="let bullet of this.enemyBullets">
    <div
      class="enemybullet"
      [style.left.px]="[bullet.hitbox.xPos]"
      [style.top.px]="[bullet.hitbox.yPos]"
      [style.width.px]="[bullet.hitbox.width]"
      [style.height.px]="[bullet.hitbox.height]"
    ></div>
  </div>
  <div *ngFor="let enemy of this.enemies">
    <div
    class="enemy"
    [style.left.px]="[enemy.hitbox.xPos]"
    [style.top.px]="[enemy.hitbox.yPos]"
    [style.width.px]="[enemy.hitbox.width]"
    [style.height.px]="[enemy.hitbox.height]"
  ></div>
    <img [src]="[enemy.sprite]"
    [style.left.px]="[enemy.hitbox.xPos]"
    [style.top.px]="[enemy.hitbox.yPos]"
    [style.width.px]="[enemy.hitbox.width*2]"
    [style.height.px]="[enemy.hitbox.height*2]"
    style="position: absolute; transform: translate(-25%, -25%);"/>
  </div>
  <div *ngFor="let deadEnemy of this.enemyDeathSprites">
    <div
      class="deathShape"
      [style.left.px]="[deadEnemy.xPos]"
      [style.top.px]="[deadEnemy.yPos]"
    ></div>
  </div>
</div>
<div id="statsZone" style="margin-top: 15px; margin-left: 575px">
  <h1 style="color: aliceblue">TYPESHIP</h1>
  <h2>xPOS: {{ redGuyHitBox.xPos }}</h2>
  <h2>yPOS: {{ redGuyHitBox.yPos }}</h2>
  <h2>Time: {{ (stageTimeDisplay / 100).toFixed(2) }}</h2>
  <h2>FPS: {{ frameRate }}</h2>
  <h2>Volume</h2>
  <div style="width: 100%;">
    <input type="range" min="1" max="100" value="volumeSliderChoice" [(ngModel)]="volumeSliderChoice" class="slider">
  </div>
</div>
