<div id="shmupZone" [ngStyle]="{'margin-top.px': shmupStyle.marginTop, 'margin-left.px': shmupStyle.marginLeft}" 
  [style.width.px]="shmupStyle.width" [style.height.px]="shmupStyle.height" (click)="printMousePos($event)">
  <canvas #rCanvas id="rCanvas" [style.width.px]="[shmupStyle.width]"
  [style.height.px]="[shmupStyle.height]" style="position: absolute; overflow: hidden;">
  </canvas>
  <canvas #2DCanvas id="2DCanvas" style="position: absolute; overflow: hidden;">
  </canvas>
  <!--Pre-loads these asset-->
  <img src="/assets/ratufo.gif" />
  <img src="/assets/CheeseCannon.gif" />
  <!-- <div id="shmupZoneBackgroundLayer1" style="margin-top: -400px" [style.width.px]="[shmupWidthPx]"
    [style.height.px]="[shmupHeightPx * 3]" [style.animation-play-state]="animationState"></div> -->
  <!-- <div
        id="shmupZoneBackgroundLayer2"
        style="margin-top: -400px; margin-left: -50px;"
        [style.width.px]="[shmupWidthPx*2]"
        [style.height.px]="[shmupHeightPx*2]"
        [style.animation-play-state]="[animationState]"
      ></div> -->
  <h1 *ngIf="this.gamePaused" style="position: absolute; margin-top: 400px; margin-left: 200px">
    PAUSED
  </h1>
  <h1 *ngIf="this.player.state === 'gameover'" style="position: absolute; margin-top: 400px; margin-left: 200px; color: aliceblue;">
    U die
  </h1>
  <div id="redguy" [style.width.px]="[player.SPRITE_DIMENSIONS.width]" [style.height.px]="[player.SPRITE_DIMENSIONS.height]" [style.left.px]="[player.position.x]" [style.top.px]="[player.position.y]" [hidden]="player.hidden"
  [ngStyle]="{'background-color': player.color}"></div>
  <div id="redguyHitbox" [style.width.px]="[player.WIDTH]" [style.height.px]="[player.HEIGHT]" [style.left.px]="[player.hitbox.pos.x]" [style.top.px]="[player.hitbox.pos.y]"
    [hidden]="player.hidden"></div>
  <div *ngFor="let option of this.player.powerOptions">
    <div style="position: absolute; background-color: red; opacity: 0.7;" [style.left.px]="[option.pos.x]" [style.top.px]="[option.pos.y]"
      [style.width.px]="[option.width]" [style.height.px]="[option.height]"></div>
  </div>
  <div *ngFor="let bullet of this.playerBullets">
    <div class="bullet" [style.left.px]="[bullet.hitbox.pos.x]" [style.top.px]="[bullet.hitbox.pos.y]" [style.width.px]="[bullet.hitbox.width]" [style.height.px]="[bullet.hitbox.height]"></div>
  </div>
  <div *ngFor="let bullet of this.enemyBullets">
    <div class="enemybullet" [ngStyle]="{'background-color': bullet.color}" [style.left.px]="[bullet.hitbox.pos.x]" [style.top.px]="[bullet.hitbox.pos.y]"
      [style.width.px]="[bullet.hitbox.width]" [style.height.px]="[bullet.hitbox.height]"></div>
  </div>
  <div *ngFor="let enemy of this.enemies">
    <!-- <img [src]="[enemy.sprite]" [style.left.px]="[enemy.hitbox.xPos]" [style.top.px]="[enemy.hitbox.yPos]"
      [style.width.px]="[enemy.hitbox.width * 2]" [style.height.px]="[enemy.hitbox.height * 2]"
      style="position: absolute; transform: translate(-25%, -25%)" /> -->
    <div class="enemy" [style.left.px]="[enemy.hitbox.pos.x]" [style.top.px]="[enemy.hitbox.pos.y]"
      [style.width.px]="[enemy.hitbox.width]" [style.height.px]="[enemy.hitbox.height]" style="opacity: 0.5"></div>
    <!-- <div *ngIf="enemy.phaseCountdown !== undefined && enemy.phaseCountdown !== ''">
      <h1 style="position: absolute; color: aliceblue; text-align: center; width: 34px;" 
      [style.left.px]="[enemy.hitbox.pos.x+(enemy.hitbox.width/2)/2]" [style.top.px]="[enemy.hitbox.pos.y-enemy.hitbox.height]">{{enemy.phaseCountdown}}</h1>
    </div> -->
  </div>
  <div *ngFor="let deadEnemy of this.enemyDeathSprites">
    <div [ngSwitch]="deadEnemy.id" >
      <div *ngSwitchCase="'BigBoi'" class="bigDeathShape" [style.left.px]="[deadEnemy.pos.x + deadEnemy.width/2]" 
      [style.top.px]="[deadEnemy.pos.y]"></div>
      <div *ngSwitchCase="'Boss1'" class="bigDeathShape" [style.left.px]="[deadEnemy.pos.x + deadEnemy.width/2]" 
      [style.top.px]="[deadEnemy.pos.y]"></div>
      <div *ngSwitchCase="'Player'" class="playerDeathShape" [style.left.px]="[deadEnemy.pos.x + deadEnemy.width/2]" 
      [style.top.px]="[deadEnemy.pos.y]"></div>
      <div *ngSwitchDefault class="smallDeathShape" [style.left.px]="[deadEnemy.pos.x + deadEnemy.width/2]" 
      [style.top.px]="[deadEnemy.pos.y]"></div>
    </div>
  </div>
  <div *ngFor="let item of this.items">
    <div class="item" [style.left.px]="[item.hitbox.pos.x]" [style.top.px]="[item.hitbox.pos.y]" 
    [style.width.px]="[item.hitbox.width]" [style.height.px]="[item.hitbox.height]" 
    [ngStyle]="{'background-color': item.COLOR}"></div>
  </div>
</div>
<div id="statsZone" [ngStyle]="{'width': sideBarStyle.width, 'height': sideBarStyle.height, 'margin-left.px': sideBarStyle.marginLeft, 'margin-top.px': sideBarStyle.marginTop}">
  <h1 style="color: aliceblue">TYPESHIP</h1>
  <!-- <h2>xPOS: {{ player.hitbox.pos.x }}</h2>
  <h2>yPOS: {{ player.hitbox.pos.y }}</h2> -->
  <h2>Lives {{ player.lives }}</h2>
  <h2>Power: {{ player.power.toFixed(2) }}</h2>
  <h2>Time: {{ (stageTimeDisplay / 100).toFixed(2) }}</h2>
  <h2>FPS: {{ frameRate }}</h2>
  <h2>Volume</h2>
  <div style="width: 100%">
    <input [ngStyle]="{'width': sideBarStyle.volumeBarWidth, 'height': sideBarStyle.volumeBarHeight}" type="range" min="1" max="100" value="volumeSliderChoice" [(ngModel)]="volumeSliderChoice" />
  </div>
</div>